mixin post(postarg, postlist)
  div.space-y-5.p-8
    h2.text-2xl.font-semibold
      a(href="/posts/" + postarg._id) #{postarg.title}
    p.text-md.text-gray-500 #{postarg.content}
    p.text-sm.text-gray-800 #{postarg.author.first_name} #{postarg.author.last_name} 
      span.text-gray-500 • #{postarg.timestamp_formatted}
      if postlist
        if postarg.comments.length === 0
          a.text-gray-500(href="/posts/" + postarg._id + "#comments")  • No comments
        else
          a.text-gray-500(href="/posts/" + postarg._id + "#comments")  • #{postarg.comments.length} comments